@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    src: local('Source Sans Pro'), local('SourceSansPro-Regular'),
        url('light/SourceSansProLight.eot');
    src: local('Source Sans Pro Light'), local('SourceSansPro-Light'),
        url('light/SourceSansProLight.eot?#iefix') format('embedded-opentype'),
        url('light/SourceSansProLight.woff') format('woff'),
        url('light/SourceSansProLight.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Source Sans Pro'), local('SourceSansPro-Regular'),
        url('regular/SourceSansProRegular.eot');
    src: local('Source Sans Pro'), local('SourceSansPro-Regular'),
        url('regular/SourceSansProRegular.eot?#iefix') format('embedded-opentype'),
        url('regular/SourceSansProRegular.woff') format('woff'),
        url('regular/SourceSansProRegular.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'),
        url('sourcesanspro-semibold.eot');
    src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'),
        url('sourcesanspro-semibold.eot?#iefix') format('embedded-opentype'),
        url('sourcesanspro-semibold.woff') format('woff'),
        url('sourcesanspro-semibold.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'),
        url('bold/SourceSansProBold.eot');
    src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'),
        url('bold/SourceSansProBold.eot?#iefix') format('embedded-opentype'),
        url('bold/SourceSansProBold.woff') format('woff'),
        url('bold/SourceSansProBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: italic;
    font-weight: 300;
    src: local('Source Sans Pro Light Italic'), local('SourceSansPro-LightIt'),
        url('sourcesanspro-lightitalic.eot');
    src: local('Source Sans Pro Light Italic'), local('SourceSansPro-LightIt'),
        url('sourcesanspro-lightitalic.eot?#iefix') format('embedded-opentype'),
        url('sourcesanspro-lightitalic.woff') format('woff'),
        url('sourcesanspro-lightitalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: italic;
    font-weight: 400;
    src: local('Source Sans Pro Italic'), local('SourceSansPro-It'),
        url('sourcesanspro-italic.eot');
    src: local('Source Sans Pro Italic'), local('SourceSansPro-It'),
        url('sourcesanspro-italic.eot?#iefix') format('embedded-opentype'),
        url('sourcesanspro-italic.woff') format('woff'),
        url('sourcesanspro-italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: italic;
    font-weight: 600;
    src: local('Source Sans Pro Semibold Italic'), local('SourceSansPro-SemiboldIt'),
        url('sourcesanspro-semibolditalic.eot');
    src: local('Source Sans Pro Semibold Italic'), local('SourceSansPro-SemiboldIt'),
        url('sourcesanspro-semibolditalic.eot?#iefix') format('embedded-opentype'),
        url('sourcesanspro-semibolditalic.woff') format('woff'),
        url('sourcesanspro-semibolditalic.ttf') format('truetype');
}