@font-face {
    font-family: 'source_sans_problack';
    src: url('sourcesanspro-black.eot');
    src: url('sourcesanspro-black.eot?#iefix') format('embedded-opentype'),
         url('sourcesanspro-black.woff') format('woff'),
         url('sourcesanspro-black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'source_sans_problack_italic';
    src: url('sourcesanspro-blackitalic.eot');
    src: url('sourcesanspro-blackitalic.eot?#iefix') format('embedded-opentype'),
         url('sourcesanspro-blackitalic.woff') format('woff'),
         url('sourcesanspro-blackitalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'source_sans_probold';
    src: url('sourcesanspro-bold.eot');
    src: url('sourcesanspro-bold.eot?#iefix') format('embedded-opentype'),
         url('sourcesanspro-bold.woff') format('woff'),
         url('sourcesanspro-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'source_sans_probold_italic';
    src: url('sourcesanspro-bolditalic.eot');
    src: url('sourcesanspro-bolditalic.eot?#iefix') format('embedded-opentype'),
         url('sourcesanspro-bolditalic.woff') format('woff'),
         url('sourcesanspro-bolditalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'source_sans_proextralight';
    src: url('sourcesanspro-extralight.eot');
    src: url('sourcesanspro-extralight.eot?#iefix') format('embedded-opentype'),
         url('sourcesanspro-extralight.woff') format('woff'),
         url('sourcesanspro-extralight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'source_sans_proXLtIt';
    src: url('sourcesanspro-extralightitalic.eot');
    src: url('sourcesanspro-extralightitalic.eot?#iefix') format('embedded-opentype'),
         url('sourcesanspro-extralightitalic.woff') format('woff'),
         url('sourcesanspro-extralightitalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'source_sans_proitalic';
    src: url('sourcesanspro-italic.eot');
    src: url('sourcesanspro-italic.eot?#iefix') format('embedded-opentype'),
         url('sourcesanspro-italic.woff') format('woff'),
         url('sourcesanspro-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'source_sans_prolight';
    src: url('sourcesanspro-light.eot');
    src: url('sourcesanspro-light.eot?#iefix') format('embedded-opentype'),
         url('sourcesanspro-light.woff') format('woff'),
         url('sourcesanspro-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'source_sans_prolight_italic';
    src: url('sourcesanspro-lightitalic.eot');
    src: url('sourcesanspro-lightitalic.eot?#iefix') format('embedded-opentype'),
         url('sourcesanspro-lightitalic.woff') format('woff'),
         url('sourcesanspro-lightitalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'source_sans_proregular';
    src: url('sourcesanspro-regular.eot');
    src: url('sourcesanspro-regular.eot?#iefix') format('embedded-opentype'),
         url('sourcesanspro-regular.woff') format('woff'),
         url('sourcesanspro-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'source_sans_prosemibold';
    src: url('sourcesanspro-semibold.eot');
    src: url('sourcesanspro-semibold.eot?#iefix') format('embedded-opentype'),
         url('sourcesanspro-semibold.woff') format('woff'),
         url('sourcesanspro-semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'source_sans_proSBdIt';
    src: url('sourcesanspro-semibolditalic.eot');
    src: url('sourcesanspro-semibolditalic.eot?#iefix') format('embedded-opentype'),
         url('sourcesanspro-semibolditalic.woff') format('woff'),
         url('sourcesanspro-semibolditalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}