@import "lib";

html,
body {
    height: 100% !important;

    > .modal-backdrop {
        display: none !important;
    }
}

pre.json-text {
    white-space: pre-wrap;
}

.fading,
.fade-in {
   ._fade-in;
   .transition(opacity 0.2s linear);
}

.fade-out {
   ._fade-out;
   .transition(opacity 0.2s linear);
}

body {
    background-color: #FFFFFF;
    .transition(background 0.2s linear);

    &.skin-red,
    &.skin-purple,
    &.skin-black,
    &.skin-yellow,
    &.skin-green,
    &.skin-blue {
        .wrapper {
            .transition(background 0.2s linear);
            background-color: #FFFFFF;

            .main-sidebar {
                background-color: #222d32;
            }
        }
    }

    &.login-page .wrapper {
        background-color: transparent;
    }

    #page-wrapper {
        position: relative;
        z-index: 1;
    }
}

.content-wrapper {
    min-height: ~"calc(100vh - 51px)";

    .content {
        .transition(padding 0.1s linear);
    }
}

/* => preloaders and overlays */

.preloader(@color: rgb(0,0,0)) {
    width: 50px;
    height: 50px;
    border: 3px solid @color;
    border-radius: 50%;
    border-left-color: transparent;
    border-right-color: transparent;
    animation: cssload-spin 725ms infinite linear;
        -o-animation: cssload-spin 725ms infinite linear;
        -ms-animation: cssload-spin 725ms infinite linear;
        -webkit-animation: cssload-spin 725ms infinite linear;
        -moz-animation: cssload-spin 725ms infinite linear;
}

.preloader-play() {
    -webkit-animation-play-state: running;
            animation-play-state: running;
}

.preloader-pause() {
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
}

@keyframes cssload-spin {
    100%{ transform: rotate(360deg); }
}

@-o-keyframes cssload-spin {
    100%{ -o-transform: rotate(360deg); transform: rotate(360deg); }
}

@-ms-keyframes cssload-spin {
    100%{ -ms-transform: rotate(360deg); transform: rotate(360deg); }
}

@-webkit-keyframes cssload-spin {
    100%{ -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@-moz-keyframes cssload-spin {
    100%{ -moz-transform: rotate(360deg); transform: rotate(360deg); }
}

.has-preloader {
    position: relative;
    min-height: 50px;

    @transitionDuration: 0.2s;

    &:before {
        content: '';
        position: absolute;
        z-index: 50;
        top: 0;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(255, 255, 255, 0.6);
        ._fade-out;

        @transitions:
            opacity @transitionDuration linear,
            height @transitionDuration step-end;
        .transition(@transitions);

    }

    &:after {
        content: '';
        .preloader();
        position: absolute;
        z-index: 51;
        top: 50%;
        left: 50%;
        margin: 0;
        width: 0;
        height: 0;
        border-width: 0;

        ._fade-out;

        @transitions:
            opacity @transitionDuration linear,
            left @transitionDuration linear,
            margin @transitionDuration/2 linear,
            width @transitionDuration/2 linear,
            height @transitionDuration/2 linear,
            border @transitionDuration/2 linear;
        .transition(@transitions);

        .preloader-pause;
    }

    &.loading,
    &.overlay {
        &:before {
            height: 100%;
            ._fade-in;

            @transitions:
                opacity @transitionDuration linear,
                height step-start;
            .transition(@transitions);

            #page-wrapper& {
                height: 100vh;
            }
        }
    }

    &.loading {
        &:after {
            .preloader();
            margin: -25px 0 0 -25px;
            ._fade-in;

            .preloader-play;
        }

        &.no-overlay:before {
            background-color: transparent;
        }
    }

    &.overlay {
        &:after {
            display: none;
        }

        .overlay-content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 52;
            .box-shadow(0 3px 15px rgba(0,0,0,0.5));
        }
    }


}

.content-wrapper.has-preloader,
.wrapper.has-preloader {
    min-height: 100%;
}

.mfp-s-loading .mfp-preloader {
    color: transparent !important;
    .preloader(#FFFFFF);
    margin: -25px auto 0 auto;
}

.dialog {
    background: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    position: fixed;
    display: none;

    &.opened {
        display: block;
    }

    .dialog-content-wrapper {
        overflow: auto;
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        padding: 15px 20px 15px 20px;
    }

    .dialog-title {
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 10px;
    }

    .dialog-close {
        position: absolute;
        z-index: 10;
        top: 0;
        right: 0;
        width: 40px;
        height: 16px;
        line-height: 16px;
        background-color: #3780aa;
        color: #FFFFFF;
        text-align: center;
        cursor: pointer;
        -webkit-transition: background 0.2s linear;
        -moz-transition: background 0.2s linear;
        -o-transition: background 0.2s linear;
        transition: background 0.2s linear;

        &:hover {
            background-color: #46a6d8;
        }
    }
}

#debug-dialog {
    position: fixed;
    z-index: 9999;

    .dialog {
        left: 240px;
        top: 10px;
        right: 10px;
        bottom: 10px;
        z-index: 100;
        background: #eeeeee;

        .dialog-title {
            position: absolute;
            z-index: 2;
            top: 8px;
            right: 50px;
            left: 20px;
            height: 30px;
        }

        .dialog-content {
            position: absolute;
            top: 40px;
            right: 0;
            bottom: 0;
            left: 0;

            iframe {
                width: 100%;
                height: 100%;
            }
        }
    }
}

form {
    .error-text {
        padding: 1px 5px 1px 5px;
        text-align: center;
    }

    .nav-tabs {
        li {
            .transition(background-color 0.2s linear);

            &.has-error,
            &.active.has-error a,
            a.has-error {
                background-color: #f2dede !important;
            }
        }
    }

    .bulk-edit-form-input-container {

        &.checkbox-switch {
            .bulk-edit-form-input-enabler {
                padding-top: 6px;
            }
        }
    }
}

.checkbox.icheck label .icheckbox_square-blue {
    margin-right: 4px;
    vertical-align: top;
}

#login-form {
    .login-submit {
        .forgot-password {
            line-height: 34px;
        }
    }
}

#user-panel {
    padding: 10px 10px 8px 20px;

    body.skin-red &,
    body.skin-purple &,
    body.skin-black &,
    body.skin-yellow &,
    body.skin-green &,
    body.skin-blue & {
        color: #FFFFFF;
    }

    .info {
        height: 40px;
        margin-bottom: 5px;

        .email {
            font-size: 13px;
        }
    }

    .actions a {
        font-size: 13px;
        margin-right: 20px;

        &:hover {
            text-decoration: underline;
        }
    }
}

div.dataTables_wrapper {

    div.dataTables_processing {
        .has-preloader;

        position: absolute;
        top: 0;
        left: 5px;
        right: 5px;
        bottom: -45px;
        margin: 0;
        padding: 0;
        width: auto;
        height: auto;
        color: transparent;
        box-shadow: none;
        border: 0 none;

        &:before {
            height: 100%;
            ._fade-in;
        }

        &:after {
            ._fade-in;
            .preloader;
            margin: -25px 0 0 -25px;
            .preloader-play;
        }
    }

    &.multiselect {
        .dataTables_scrollHead,
        .DTFC_LeftWrapper .DTFC_LeftHeadWrapper {
            .dropdown-menu {
                position: fixed;
                top: auto;
                left: auto;
            }

            .rows-selection-options-dropdown-btn {
                border: 0 none;
                width: auto;
                height: auto;
                padding: 0;
                margin: 0;
                line-height: normal;
                background-color: transparent;
                opacity: 0.5;
                color: #000000;
                outline: 0 none;

                &:hover {
                    opacity: 1;
                }

                > span {
                    font-size: 16px;
                    vertical-align: middle;
                    line-height: 24px;
                }
            }
        }
    }

    .DTFC_LeftWrapper {
        .DTFC_LeftHeadWrapper {
            overflow: visible !important;
        }
    }

    table.dataTable {

        &.table-bordered {
            -moz-box-sizing: content-box;
            -webkit-box-sizing: content-box;
            box-sizing: content-box;
        }

        thead {

            .sorting:after {
                ._fade-to(0.3);
            }

            .sorting_desc:after,
            .sorting_asc:after {
                font-size: 12px;
                top: 10px;
                ._fade-to(0.6);
            }

            .sorting_desc:after {
                content: "\e094";
            }

            .sorting_asc:after {
                content: "\e093";
            }
        }

        tbody {
            tr {
                &.selected {
                    background-color: rgba(78, 167, 205, 0.4);
                    color: #000000;

                    a {
                        color: #08C;

                        &:hover {
                            color: #00a1ee;
                        }
                    }

                    td.select-checkbox {
                        color: #08C;

                        &:hover {
                            color: #000000;
                        }

                        &:before {
                            content: "\f046";
                        }
                    }
                }

                td.select-checkbox {
                    cursor: pointer;
                    font-family: FontAwesome;
                    text-align: center;

                    &:hover {
                        color: #08C;
                    }

                    &:before {
                        content: "\f096";
                        display: inline-block;
                        width: 12px;
                        line-height: 23px;
                        text-align: left;
                    }
                }

            }

            a:hover {
                text-decoration: underline;
            }
        }

    } //< .dataTables_wrapper table.dataTable

    .row-actions-container {
        position: absolute;
        height: 0;
        overflow: visible;
        width: 100%;
        text-align: center;
        z-index: 10;

        .transition(top 0.1s linear);

        .row-actions-block {
            vertical-align: top;
            display: inline-block !important;
            position: relative;
            background-color: #FFFFFF;
            white-space: nowrap;
            width: auto;
            height: auto;
            margin-top: -10px;
            .box-shadow(0px 1px 2px 1px rgba(0, 0, 0, 0.1));

            .transition(left 10ms linear, 0.15s ease-in);
            .transform-origin(50% 0);
            .transform(scale(1, 1));

            .row-actions {
                padding: 5px 10px 5px 10px;
            }
        }

        &.hidden {
            display: block !important;
            .transition(top 0.1s step-end);
            top: -4000px !important;

            .row-actions-block {
                .transform(scale(1, 0));
            }
        }
    }

    .row-actions {
        .row-action {
            display: inline-block;
            font-size: 16px;
            margin: 0 5px 0 5px;

            &:hover {
                ._fade-to(0.8);
            }
        }
    }

    div.dataTables_paginate {
        text-align: center;

        ul.pagination {
            margin-top: 10px;
            vertical-align: top;

            .paginate_button {
                &.active {
                    a {
                        border-left-color: #ddd;
                        border-right-color: #ddd;
                    }
                }
            }
        }
    }

    .dataTables_info {
        margin-top: 9px;

        .select-info {
            display: none;
        }
    }

    .dataTables_length {
        text-align: right;
        margin-top: 14px;

        label {
            line-height: 26px;
            height: 26px;
            vertical-align: middle;
            margin: 0;
        }

        select {
            vertical-align: top;
            margin: 0 3px 0 3px;
            font-size: 14px;
            padding: 0 2px 0 5px;
            height: 26px;
            line-height: 26px;
        }
    }

    .dataTables_scrollFoot {
        .filters {
            th {
                input,
                select {
                    width: 100%;
                }
            }
        }
    }

    .dataTables_scrollHead + .dataTables_scrollFoot table.table {
        margin-bottom: 0 !important;

        .filters th {
            border-top-width: 0;
        }
    }

    .toolbar,
    .filter-toolbar {
        .btn {
            float: none;
            display: inline-block;
        }

        ul.dropdown-menu {
            a {
                .label {
                    line-height: 16px;
                    padding: 1px 6px 1px 6px;
                    vertical-align: middle;
                    margin: 0 3px 0 -3px;
                }

                &.disabled {
                    color: #BBBBBB;

                    .label {
                        background-color: #999999 !important;
                    }
                }
            }

        }
    }

} //< .dataTables_wrapper

body[data-section="resource:table"] {
    .content-wrapper {
        background-color: #FFFFFF;
    }

    .section-content-wrapper {
        //padding-bottom: 54px;

        .content-header {
            height: 51px;
            background-color: #ecf0f5;
        }

        .content {
            padding: 0;

            > .row > div > .box {
                box-shadow: none;
                margin-bottom: 0;
            }
        }

        .pagination-container {
            position: fixed;
            left: 230px;
            bottom: 51px;
            height: 54px;
            right: 0;
            background-color: #ffffff;
            margin: 0;
            border-top: 1px solid #d2d6de;
        }
    }
}

.table-bordered {
    &,
    > thead,
    > tbody,
    > tfoot {
        > tr {
            > th,
            > td {
                border-color: #ebebeb !important;
            }
        }
    }
}

.scaffold-data-grid-container {
    .no-items {
        text-align: center;
        font-weight: bold;
    }

    table {
        &.table-condensed {
            .row-actions {
                margin-top: 1px;

                a {
                    font-size: 14px;
                }

                > a:first-child {
                    margin-left: 0;
                }
            }
        }

        tbody {
            tr.children-data-grid-row {
                border-left-width: 0;
                background-color: #FFFFFF;

                &:hover {
                    background-color: #FFFFFF;
                }

                td.children-data-grid-cell {
                    position: relative;

                    td.children-data-grid-cell {
                        padding-bottom: 0 !important;

                        &:before {
                            display: none;
                        }
                    }

                    td.dataTables_empty {
                        background-color: #FFFFFF;
                    }

                    &:before {
                        content: '';
                        position: absolute;
                        left: -1px;
                        width: 1px;
                        bottom: 0;
                        height: 5px;
                        background-color: #FFFFFF;
                    }

                    .children-data-grid-pagination {
                        font-size: 14px;
                        border: 1px solid #f4f4f4;
                        border-top-width: 0;
                        padding-bottom: 2px;

                        .dataTables_info {
                            margin-top: 2px;
                        }

                        .dataTables_length {
                            margin-top: 7px;
                        }

                        .dataTables_paginate {
                            text-align: right;
                        }

                        .pagination {
                            margin-top: 5px;

                            > li > a {
                                padding: 4px 10px 4px 10px;
                                text-decoration: none;
                            }
                        }
                    }

                    @subtable-indication-color: #82afbb;
                    border-top-color: @subtable-indication-color !important;
                    .children-data-grid-table-container {
                        border-left: 10px solid @subtable-indication-color;

                        .children-data-grid-table,
                        .children-data-grid-pagination {
                            border-left-color: @subtable-indication-color;
                        }

                        .children-data-grid-pagination,
                        .children-data-grid-table.empty {
                            border-bottom-color: @subtable-indication-color;
                        }


                        .children-data-grid-table {
                            .children-data-grid-pagination,
                            .children-data-grid-table.empty {
                                border-bottom-color: transparent;
                            }
                        }
                    }

                }
            }
        }
    }
}

.skin-blue .sidebar-menu > li.header {
    color: #678b97;
}

aside.main-sidebar {
    .sidebar-menu li {
        > a {
            border-right: 3px solid transparent;

            > .fa-angle-left {
                .transition-transform(0.1s linear);
            }
        }

        > a:hover,
        &.current-page:hover > a,
        &.active:hover > a {
            border-left-color: #3c8dbc;

            body.skin-red &,
            body.skin-red-light & {
                border-left-color: #d73925;
            }
            body.skin-purple &,
            body.skin-purple-light & {
                border-left-color: #555299;
            }
            body.skin-black & {
                border-left-color: #FFFFFF;
            }
            body.skin-black-light & {
                border-left-color: #222d32;
            }
            body.skin-yellow &,
            body.skin-yellow-light & {
                border-left-color: #e08e0b;
            }
            body.skin-green &,
            body.skin-green-light & {
                border-left-color: #008d4c;
            }
            body.skin-blue &,
            body.skin-blue-light & {
                border-left-color: #3c8dbc;
            }
        }

        &.current-page,
        &.active {
            > a {
                border-left-color: transparent;
                border-right-color: #3c8dbc;

                body.skin-red &,
                body.skin-red-light & {
                    border-right-color: #d73925;
                }
                body.skin-purple &,
                body.skin-purple-light & {
                    border-right-color: #555299;
                }
                body.skin-black & {
                    border-right-color: #FFFFFF;
                }
                body.skin-black-light & {
                    border-right-color: #222d32;
                }
                body.skin-yellow &,
                body.skin-yellow-light & {
                    border-right-color: #e08e0b;
                }
                body.skin-green &,
                body.skin-green-light & {
                    border-right-color: #008d4c;
                }
                body.skin-blue &,
                body.skin-blue-light & {
                    border-right-color: #3c8dbc;
                }

                > .fa-angle-left {
                    .transform(rotate(-90deg));
                }
            }
        }

        &.treeview.active {
            > a {
                border-right-color: transparent !important;
            }

            .treeview-menu.menu-open {
                margin-right: 0;

                > a.active {
                    border-right-color: #3c8dbc !important;
                }
            }
        }

        &.header {
            padding: 10px 15px 10px 15px;
        }

        .label,
        .badge {
            font-size: 11px;
            line-height: normal;
            padding: 2px 8px 2px 8px;
            font-weight: normal;
            display: inline-block;
        }
    }
}

#query-builder-container {
    position: relative;
    height: 0 !important;
    overflow: visible;
    z-index: 15;

    #query-builder {
        position: absolute;
        top: 10px;
        width: 100%;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        background-color: #ffffff;
        .border-radius(5px);


        #query-builder-content > .rules-group-container {
            margin: 0;
            .border-radius-bottom(0);
            border-width: 0;
            border-bottom-width: 1px;
        }

        #query-builder-controls {
            background-color: rgba(250, 240, 210, 0.5);
            text-align: right;
            padding: 5px;

            .btn {
                margin: 0 5px 0 5px;
                font-size: 12px;
            }
        }
    }
}

#query-builder {
    position: relative;
    z-index: 4; /* needed to fix strange z-index:3 in .pagination>.active>a in bootstrap.css */

    h4 {
        position: absolute;
        z-index: 2;
        width: 300px;
        left: 50%;
        top: 0;
        margin: 0 0 0 -150px;
        text-align: center;
        line-height: 43px;
    }

    .query-builder .rules-group-container {
        z-index: 1;
    }

    .query-builder .rule-container {
        input[type=text],
        input[type=number] {
            padding: 1px 1px 1px 6px;
            font-size: 13px;
            height: 26px;
        }

        .bootstrap-select button,
        select.form-control {
            font-size: 13px;
            height: 26px;
        }

        .radio {
            label {
                line-height: 17px;
            }
        }
    }

    .rules-group-footer {
        position: absolute;
        bottom: -30px;
        right: 0;
    }
}

.section-divider {
    height: 0;
    border-top: 1px solid #DDD;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.section-divider span {
    background: #FFFFFF;
    display: inline-block;
    position: relative;
    padding: 0 17px 0 17px;
    color: #999;
    top: -11px;
    font-size: 15px;
    text-align: center;
}

.wide-tooltips .tooltip-inner {
    max-width: 400px;
}

.checkbox input[type=checkbox]:checked + label:after {
    text-align: left !important;
}

.bootstrap-select {

    > button.dropdown-toggle {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        background-color: transparent !important;
        box-shadow: none !important;

        &,
        &:hover {
            border-color: #d2d6de !important;
        }

        &:focus,
        &:active {
            outline: 0 none !important;
            border-color: #3c8dbc !important;
        }

        &.disabled {
            background-color: #eee !important;
            border-color: #d2d6de !important;
            opacity: 1;
        }

        &.bs-placeholder {

            .bs-caret {
                &,
                &:hover,
                &:focus,
                &:active {
                    color: #000;
                }
            }

            &.disabled .bs-caret {
                &,
                &:hover,
                &:focus,
                &:active {
                    color: #999;
                }
            }

        }
    }

    &.open > button.dropdown-toggle {
        border-color: #3c8dbc !important;
    }

    > .dropdown-menu.open {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;

        margin: 0;
        padding: 0;
        border-color: #d2d6de;
        border-top-width: 0;
    }

    ul.dropdown-menu.inner li {
        a {
            color: #000000;
            padding: 6px 40px 6px 12px;

            &:hover {
                background-color: #5897fb;
                color: #FFFFFF;
            }
        }

        &.active,
        &.selected {
            a {
                background-color: #3c8dbc;
                color: #FFFFFF;
            }
        }

        &.disabled {
            a {
                color: #777777;

                & span.check-mark {
                    display: inline-block;
                    float: right;
                    margin: 0 -20px 0 0;
                }
            }

            &.active,
            &.selected {
                a {
                    background-color: transparent;
                    color: #777777;
                }
            }
        }

    }
}

.cke {
    .cke_combo {

        &.cke_combo_full_width {
            .cke_combo_button .cke_combo_text {
                width: auto !important;
            }
        }

    }
}

.cke_screen_reader_only {
    display: none !important;
}

.cke_dialog_ui_file {
    min-height: 65px !important;

    .cke_dialog_ui_input_file {
        min-height: 50px !important;
        overflow: hidden;
    }
}

.select2-container--default {

    .select2-selection {
        min-height: 34px;
    }

    .select2-selection--multiple {
        .select2-search.select2-search--inline input {
            border: 0 none;
        }
    }

    &.select2-container--focus .select2-selection--multiple {
        border-color: #3c8dbc;
    }

    .select2-dropdown {

        li.select2-results__option[aria-selected="true"] {
            padding-right: 30px;
            position: relative;

            &:after {
                content: '\2713';
                position: absolute;
                width: 16px;
                height: 16px;
                top: 4px;
                right: 6px;
                font-weight: bold;
                font-size: 18px;
            }
        }

    }
}

.item-details-table {
    td {
        word-break: break-all;
        word-wrap: break-word;
    }

    td,
    th {
        &:first-child {
            border-left-width: 0;
        }

        &:last-child {
            border-right-width: 0;
        }
    }

    tbody {
        tr.table-group {
            background-color: #efefef;

            td,
            th {
                border-color: #efefef;
                border-bottom-color: #3c8dbc;
                position: relative;

                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    background-color: #3c8dbc;
                }
            }
        }

        td.item-details-html-cell {
            background-color: #FFFFFF !important;
        }
    }

    .wysiwyg-data-insert {
        font-size: 0;

        &:before {
            content: attr(title);
            position: static;
            display: block;
            font-size: 12px;
            padding: 0 5px;
            background: #DDD;
            .border-radius(2px);
            border: 1px solid #555;
            white-space: nowrap;
            cursor: pointer;
            text-align: center;
        }
    }

    span.wysiwyg-data-insert {
        &,
        &:before {
            display: inline-block;
        }
    }

    div.wysiwyg-data-insert {
        &:before {
            margin: 10px 0 10px 0;
            padding: 10px;
        }
    }

}

#scaffold-form-pages #t-pages-c-Texts_ru_content-input + div.cke > .cke_inner > .cke_contents {
    min-height: 600px !important;
}