html,
body {
  height: 100%;
}
pre.json-text {
  white-space: pre-wrap;
}
.fading,
.fade-in {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
.fade-out {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
body.skin-blue .wrapper {
  background-color: #FFFFFF;
}
body.skin-blue .wrapper .main-sidebar {
  background-color: #222d32;
}
body.login-page .wrapper {
  background-color: transparent;
}
.content-wrapper {
  min-height: calc(100vh - 51px);
}
/* => preloaders and overlays */
@keyframes cssload-spin {
  100% {
    transform: rotate(360deg);
  }
}
@-o-keyframes cssload-spin {
  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes cssload-spin {
  100% {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes cssload-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes cssload-spin {
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.has-preloader {
  position: relative;
  min-height: 50px;
}
.has-preloader:before {
  content: '';
  position: absolute;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: rgba(255, 255, 255, 0.6);
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.2s linear, height 0.2s step-end;
  -moz-transition: opacity 0.2s linear, height 0.2s step-end;
  -o-transition: opacity 0.2s linear, height 0.2s step-end;
  transition: opacity 0.2s linear, height 0.2s step-end;
}
.has-preloader:after {
  content: '';
  position: absolute;
  z-index: 51;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  width: 50px;
  height: 50px;
  border: 3px solid #000000;
  border-radius: 50%;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: cssload-spin 725ms infinite linear;
  -o-animation: cssload-spin 725ms infinite linear;
  -ms-animation: cssload-spin 725ms infinite linear;
  -webkit-animation: cssload-spin 725ms infinite linear;
  -moz-animation: cssload-spin 725ms infinite linear;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.2s linear, top 0.2s linear, left 0.2s linear;
  -moz-transition: opacity 0.2s linear, top 0.2s linear, left 0.2s linear;
  -o-transition: opacity 0.2s linear, top 0.2s linear, left 0.2s linear;
  transition: opacity 0.2s linear, top 0.2s linear, left 0.2s linear;
}
.has-preloader.loading:before,
.has-preloader.overlay:before {
  height: 100%;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: opacity 0.2s linear, height step-start;
  -moz-transition: opacity 0.2s linear, height step-start;
  -o-transition: opacity 0.2s linear, height step-start;
  transition: opacity 0.2s linear, height step-start;
}
#page-wrapper.has-preloader.loading:before,
#page-wrapper.has-preloader.overlay:before {
  height: 100vh;
}
.has-preloader.loading:after {
  opacity: 1;
  filter: alpha(opacity=100);
}
.has-preloader.loading.no-overlay:before {
  background-color: transparent;
}
.has-preloader.overlay:after {
  display: none;
}
.has-preloader.overlay .overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 52;
  -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.5);
}
.content-wrapper.has-preloader,
.wrapper.has-preloader {
  min-height: 100%;
}
.mfp-s-loading .mfp-preloader {
  color: transparent !important;
  width: 50px;
  height: 50px;
  border: 3px solid #ffffff;
  border-radius: 50%;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: cssload-spin 725ms infinite linear;
  -o-animation: cssload-spin 725ms infinite linear;
  -ms-animation: cssload-spin 725ms infinite linear;
  -webkit-animation: cssload-spin 725ms infinite linear;
  -moz-animation: cssload-spin 725ms infinite linear;
  margin: -25px auto 0 auto;
}
.dialog {
  background: #FFFFFF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  position: fixed;
  display: none;
}
.dialog.opened {
  display: block;
}
.dialog .dialog-content-wrapper {
  overflow: auto;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 15px 20px 15px 20px;
}
.dialog .dialog-title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}
.dialog .dialog-close {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  width: 40px;
  height: 16px;
  line-height: 16px;
  background-color: #3780aa;
  color: #FFFFFF;
  text-align: center;
  cursor: pointer;
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  transition: background 0.2s linear;
}
.dialog .dialog-close:hover {
  background-color: #46a6d8;
}
#debug-dialog {
  position: fixed;
  z-index: 1000;
}
#debug-dialog .dialog {
  left: 240px;
  top: 10px;
  right: 10px;
  bottom: 10px;
  z-index: 100;
  background: #eeeeee;
}
#debug-dialog .dialog .dialog-title {
  position: absolute;
  z-index: 2;
  top: 8px;
  right: 50px;
  left: 20px;
  height: 30px;
}
#debug-dialog .dialog .dialog-content {
  position: absolute;
  top: 40px;
  right: 0;
  bottom: 0;
  left: 0;
}
#debug-dialog .dialog .dialog-content iframe {
  width: 100%;
  height: 100%;
}
form .error-text {
  padding: 1px 5px 1px 5px;
  text-align: center;
}
.scaffold-datagrid .no-items {
  text-align: center;
  font-weight: bold;
}
.checkbox.icheck label .icheckbox_square-blue {
  margin-right: 4px;
  vertical-align: top;
}
#login-form .login-submit .forgot-password {
  line-height: 34px;
}
#user-panel {
  padding: 10px 10px 8px 20px;
  color: #FFFFFF;
}
#user-panel .info {
  height: 40px;
  margin-bottom: 5px;
}
#user-panel .info .email {
  font-size: 13px;
}
#user-panel .actions a {
  font-size: 13px;
  margin-right: 20px;
}
#user-panel .actions a:hover {
  text-decoration: underline;
}
div.dataTables_wrapper div.dataTables_processing {
  position: relative;
  min-height: 50px;
  position: absolute;
  top: 0;
  left: 5px;
  right: 5px;
  bottom: -45px;
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  color: transparent;
  box-shadow: none;
  border: 0 none;
}
div.dataTables_wrapper div.dataTables_processing:before {
  content: '';
  position: absolute;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: rgba(255, 255, 255, 0.6);
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.2s linear, height 0.2s step-end;
  -moz-transition: opacity 0.2s linear, height 0.2s step-end;
  -o-transition: opacity 0.2s linear, height 0.2s step-end;
  transition: opacity 0.2s linear, height 0.2s step-end;
}
div.dataTables_wrapper div.dataTables_processing:after {
  content: '';
  position: absolute;
  z-index: 51;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  width: 50px;
  height: 50px;
  border: 3px solid #000000;
  border-radius: 50%;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: cssload-spin 725ms infinite linear;
  -o-animation: cssload-spin 725ms infinite linear;
  -ms-animation: cssload-spin 725ms infinite linear;
  -webkit-animation: cssload-spin 725ms infinite linear;
  -moz-animation: cssload-spin 725ms infinite linear;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.2s linear, top 0.2s linear, left 0.2s linear;
  -moz-transition: opacity 0.2s linear, top 0.2s linear, left 0.2s linear;
  -o-transition: opacity 0.2s linear, top 0.2s linear, left 0.2s linear;
  transition: opacity 0.2s linear, top 0.2s linear, left 0.2s linear;
}
div.dataTables_wrapper div.dataTables_processing.loading:before,
div.dataTables_wrapper div.dataTables_processing.overlay:before {
  height: 100%;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: opacity 0.2s linear, height step-start;
  -moz-transition: opacity 0.2s linear, height step-start;
  -o-transition: opacity 0.2s linear, height step-start;
  transition: opacity 0.2s linear, height step-start;
}
#page-wrapperdiv.dataTables_wrapper div.dataTables_processing.loading:before,
#page-wrapperdiv.dataTables_wrapper div.dataTables_processing.overlay:before {
  height: 100vh;
}
div.dataTables_wrapper div.dataTables_processing.loading:after {
  opacity: 1;
  filter: alpha(opacity=100);
}
div.dataTables_wrapper div.dataTables_processing.loading.no-overlay:before {
  background-color: transparent;
}
div.dataTables_wrapper div.dataTables_processing.overlay:after {
  display: none;
}
div.dataTables_wrapper div.dataTables_processing.overlay .overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 52;
  -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.5);
}
div.dataTables_wrapper div.dataTables_processing:before {
  height: 100%;
  opacity: 1;
  filter: alpha(opacity=100);
}
div.dataTables_wrapper div.dataTables_processing:after {
  opacity: 1;
  filter: alpha(opacity=100);
}
div.dataTables_wrapper.multiselect .dataTables_scrollHead .dropdown-menu {
  position: fixed;
  top: auto;
  left: auto;
}
div.dataTables_wrapper.multiselect .dataTables_scrollHead .rows-selection-options-dropdown-btn {
  border: 0 none;
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
  line-height: normal;
  background-color: transparent;
  opacity: 0.3;
  color: #000000;
  outline: 0 none;
}
div.dataTables_wrapper.multiselect .dataTables_scrollHead .rows-selection-options-dropdown-btn:hover {
  opacity: 0.5;
}
div.dataTables_wrapper table.dataTable.table-bordered {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
div.dataTables_wrapper table.dataTable thead .sorting:after {
  opacity: 0.3;
  filter: alpha(opacity=30);
}
div.dataTables_wrapper table.dataTable thead .sorting_desc:after,
div.dataTables_wrapper table.dataTable thead .sorting_asc:after {
  font-size: 12px;
  top: 10px;
  opacity: 0.6;
  filter: alpha(opacity=60);
}
div.dataTables_wrapper table.dataTable thead .sorting_desc:after {
  content: "\e094";
}
div.dataTables_wrapper table.dataTable thead .sorting_asc:after {
  content: "\e093";
}
div.dataTables_wrapper table.dataTable tbody tr.selected {
  background-color: rgba(78, 167, 205, 0.4);
  color: #000000;
}
div.dataTables_wrapper table.dataTable tbody tr.selected a {
  color: #08C;
}
div.dataTables_wrapper table.dataTable tbody tr.selected a:hover {
  color: #00a1ee;
}
div.dataTables_wrapper table.dataTable tbody tr.selected td.select-checkbox {
  color: #08C;
}
div.dataTables_wrapper table.dataTable tbody tr.selected td.select-checkbox:hover {
  color: #000000;
}
div.dataTables_wrapper table.dataTable tbody tr.selected td.select-checkbox:before {
  content: "\f046";
}
div.dataTables_wrapper table.dataTable tbody tr td.select-checkbox {
  cursor: pointer;
  font-family: FontAwesome;
  text-align: center;
}
div.dataTables_wrapper table.dataTable tbody tr td.select-checkbox:hover {
  color: #08C;
}
div.dataTables_wrapper table.dataTable tbody tr td.select-checkbox:before {
  content: "\f096";
  display: inline-block;
  width: 12px;
  line-height: 23px;
  text-align: left;
}
div.dataTables_wrapper table.dataTable tbody a:hover {
  text-decoration: underline;
}
div.dataTables_wrapper .row-actions-container {
  position: absolute;
  height: 0;
  overflow: visible;
  width: 100%;
  text-align: center;
  z-index: 10;
  -webkit-transition: top 0.1s linear;
  -moz-transition: top 0.1s linear;
  -o-transition: top 0.1s linear;
  transition: top 0.1s linear;
}
div.dataTables_wrapper .row-actions-container .row-actions-block {
  vertical-align: top;
  display: inline-block !important;
  position: relative;
  background-color: #FFFFFF;
  white-space: nowrap;
  width: auto;
  height: auto;
  margin-top: -10px;
  -webkit-box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.1);
  -webkit-transition: left 10ms linear, -webkit- 0.15s ease-in;
  -moz-transition: left 10ms linear, -moz- 0.15s ease-in;
  -o-transition: left 10ms linear, -o- 0.15s ease-in;
  transition: left 10ms linear, 0.15s ease-in;
  -webkit-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
}
div.dataTables_wrapper .row-actions-container .row-actions-block .row-actions {
  padding: 5px 10px 5px 10px;
}
div.dataTables_wrapper .row-actions-container.hidden {
  display: block !important;
  -webkit-transition: top 0.1s step-end;
  -moz-transition: top 0.1s step-end;
  -o-transition: top 0.1s step-end;
  transition: top 0.1s step-end;
  top: -4000px !important;
}
div.dataTables_wrapper .row-actions-container.hidden .row-actions-block {
  -webkit-transform: scale(1, 0);
  -moz-transform: scale(1, 0);
  -o-transform: scale(1, 0);
  -ms-transform: scale(1, 0);
  transform: scale(1, 0);
}
div.dataTables_wrapper .row-actions .row-action {
  display: inline-block;
  font-size: 16px;
  margin: 0 5px 0 5px;
}
div.dataTables_wrapper .row-actions .row-action:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
div.dataTables_wrapper div.dataTables_paginate {
  text-align: center;
}
div.dataTables_wrapper div.dataTables_paginate ul.pagination {
  margin-top: 10px;
  vertical-align: top;
}
div.dataTables_wrapper div.dataTables_paginate ul.pagination .paginate_button.active a {
  border-left-color: #ddd;
  border-right-color: #ddd;
}
div.dataTables_wrapper .dataTables_info {
  margin-top: 9px;
}
div.dataTables_wrapper .dataTables_info .select-info {
  display: none;
}
div.dataTables_wrapper .dataTables_length {
  text-align: right;
  margin-top: 14px;
}
div.dataTables_wrapper .dataTables_length label {
  line-height: 26px;
  height: 26px;
  vertical-align: middle;
  margin: 0;
}
div.dataTables_wrapper .dataTables_length select {
  vertical-align: top;
  margin: 0 3px 0 3px;
  font-size: 14px;
  padding: 0 2px 0 5px;
  height: 26px;
  line-height: 26px;
}
div.dataTables_wrapper .dataTables_scrollFoot .filters th input,
div.dataTables_wrapper .dataTables_scrollFoot .filters th select {
  width: 100%;
}
div.dataTables_wrapper .dataTables_scrollHead + .dataTables_scrollFoot table.table {
  margin-bottom: 0 !important;
}
div.dataTables_wrapper .dataTables_scrollHead + .dataTables_scrollFoot table.table .filters th {
  border-top-width: 0;
}
div.dataTables_wrapper .toolbar .btn,
div.dataTables_wrapper .filter-toolbar .btn {
  float: none;
  display: inline-block;
}
div.dataTables_wrapper .toolbar ul.dropdown-menu a .label,
div.dataTables_wrapper .filter-toolbar ul.dropdown-menu a .label {
  line-height: 16px;
  padding: 1px 6px 1px 6px;
  vertical-align: middle;
  margin: 0 3px 0 -3px;
}
div.dataTables_wrapper .toolbar ul.dropdown-menu a.disabled,
div.dataTables_wrapper .filter-toolbar ul.dropdown-menu a.disabled {
  color: #BBBBBB;
}
div.dataTables_wrapper .toolbar ul.dropdown-menu a.disabled .label,
div.dataTables_wrapper .filter-toolbar ul.dropdown-menu a.disabled .label {
  background-color: #999999 !important;
}
.skin-blue .sidebar-menu > li.header {
  color: #678b97;
}
aside.main-sidebar .sidebar-menu li > a {
  border-right: 3px solid transparent;
}
aside.main-sidebar .sidebar-menu li > a > .fa.pull-right,
aside.main-sidebar .sidebar-menu li > a > .glyphicon.pull-right {
  line-height: 20px;
}
aside.main-sidebar .sidebar-menu li > a > .fa-angle-left {
  -webkit-transition: -webkit-transform 0.1s linear;
  -moz-transition: -moz-transform 0.1s linear;
  -o-transition: -o-transform 0.1s linear;
  transition: transform 0.1s linear;
  width: 8px;
  height: 14px;
  text-align: left;
  margin: 3px 8px 0 0;
}
aside.main-sidebar .sidebar-menu li > a > .fa-angle-left.pull-right {
  line-height: normal;
}
aside.main-sidebar .sidebar-menu li.active > a {
  border-left-color: transparent;
  border-right-color: #3c8dbc;
}
aside.main-sidebar .sidebar-menu li.active > a > .fa-angle-left {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
aside.main-sidebar .sidebar-menu li.active:hover > a {
  border-left-color: #3c8dbc;
}
aside.main-sidebar .sidebar-menu li.treeview.active > a {
  border-right-color: transparent !important;
}
aside.main-sidebar .sidebar-menu li.treeview.active .treeview-menu.menu-open {
  margin-right: 0;
}
aside.main-sidebar .sidebar-menu li.treeview.active .treeview-menu.menu-open > a.active {
  border-right-color: #3c8dbc !important;
}
aside.main-sidebar .sidebar-menu li.header {
  padding: 10px 15px 10px 15px;
}
aside.main-sidebar #secondary-menu #sidebar-company-title {
  display: inline-block;
  width: calc(100% - 40px);
  line-height: 17px;
}
aside.main-sidebar #secondary-menu #sidebar-company-badge {
  background-color: transparent;
  padding: 0;
}
aside.main-sidebar #secondary-menu #sidebar-company-badge a {
  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
}
aside.main-sidebar #secondary-menu #sidebar-company-badge a:hover {
  color: #FFFFFF;
}
#query-builder {
  position: relative;
}
#query-builder h4 {
  position: absolute;
  z-index: 2;
  width: 300px;
  left: 50%;
  top: 0;
  margin: 0 0 0 -150px;
  text-align: center;
  line-height: 43px;
}
#query-builder.query-builder .rules-group-container {
  z-index: 1;
}
#query-builder.query-builder .rule-container input[type=text],
#query-builder.query-builder .rule-container input[type=number] {
  padding: 1px 1px 1px 6px;
}
#query-builder .rules-group-footer {
  position: absolute;
  bottom: -30px;
  right: 0;
}
.section-divider {
  height: 0;
  border-top: 1px solid #DDD;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.section-divider span {
  background: #FFFFFF;
  display: inline-block;
  position: relative;
  padding: 0 17px 0 17px;
  color: #999;
  top: -11px;
  font-size: 15px;
  text-align: center;
}
.wide-tooltips .tooltip-inner {
  max-width: 400px;
}
.checkbox input[type=checkbox]:checked + label:after {
  text-align: left !important;
}
.bootstrap-select > button.dropdown-toggle {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background-color: transparent !important;
  box-shadow: none !important;
}
.bootstrap-select > button.dropdown-toggle,
.bootstrap-select > button.dropdown-toggle:hover {
  border-color: #d2d6de !important;
}
.bootstrap-select > button.dropdown-toggle:focus,
.bootstrap-select > button.dropdown-toggle:active {
  outline: 0 none !important;
  border-color: #3c8dbc !important;
}
.bootstrap-select.open > button.dropdown-toggle {
  border-color: #3c8dbc !important;
}
.bootstrap-select > .dropdown-menu.open {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin: 0;
  padding: 0;
  border-color: #d2d6de;
  border-top-width: 0;
}
.bootstrap-select ul.dropdown-menu.inner li a {
  color: #000000;
  padding: 6px 40px 6px 12px;
}
.bootstrap-select ul.dropdown-menu.inner li a:hover {
  background-color: #5897fb;
  color: #FFFFFF;
}
.bootstrap-select ul.dropdown-menu.inner li.active a,
.bootstrap-select ul.dropdown-menu.inner li.selected a {
  background-color: #3c8dbc;
  color: #FFFFFF;
}
.bootstrap-select ul.dropdown-menu.inner li.disabled a {
  color: #777777;
}
.bootstrap-select ul.dropdown-menu.inner li.disabled a span.check-mark {
  display: inline-block;
  float: right;
  margin: 0 -20px 0 0;
}
.bootstrap-select ul.dropdown-menu.inner li.disabled.active a,
.bootstrap-select ul.dropdown-menu.inner li.disabled.selected a {
  background-color: transparent;
  color: #777777;
}
.cke .cke_combo.cke_combo_full_width .cke_combo_button .cke_combo_text {
  width: auto !important;
}
.select2-container--default .select2-selection {
  min-height: 34px;
}
.select2-container--default .select2-selection--multiple .select2-search.select2-search--inline input {
  border: 0 none;
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
  border-color: #3c8dbc;
}
.select2-container--default .select2-dropdown li.select2-results__option[aria-selected="true"] {
  padding-right: 30px;
  position: relative;
}
.select2-container--default .select2-dropdown li.select2-results__option[aria-selected="true"]:after {
  content: '\2713';
  position: absolute;
  width: 16px;
  height: 16px;
  top: 4px;
  right: 6px;
  font-weight: bold;
  font-size: 18px;
}
